.button {
  &__container {
    width: var(--button-width);
    height: var(--button-height);
  }

  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: var(--button-background);
  cursor: pointer;
  transition: all var(--transition-timing) var(--transition-function);
}
