.skeleton {
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  border-radius: var(--border-radius-px);
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    background: rgb(212,212,212);
    background: linear-gradient(90deg, rgba(212,212,212,1) 0%, rgba(204,202,201,1) 50%, rgba(167,175,177,1) 100%);
    animation: shine forwards infinite 1.5s;
    filter: blur(20px);

  }
}
