.fade {
  &-enter {
    opacity: 0;
    &-active {
      transition: opacity var(--transition-timing);
    }
  }
  &-leave {
    &-active {
      transition: opacity var(--transition-timing);
    }
    &-to {
      opacity: 0;
    }
  }
}


.slide-x-vars {
  &-enter {
    transform: translateX(var(--translate-enter-from));
    opacity: var(--opacity-from);
    &-active {
      position: absolute;
      transition: transform var(--transition-timing);
    }
    &-to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  &-leave {
    transform: translateX(0);
    opacity: 1;
    &-active {
      position: absolute;
      transition: transform var(--transition-timing);
    }
    &-to {
      transform: translateX(var(--translate-leave-to));
      opacity: var(--opacity-from);
    }
  }
}

.slide-y-vars {
  &-enter {
    transform: translateY(var(--translate-enter-from));
    opacity: var(--opacity-from);
    &-active {
      position: absolute;
      transition: var(--transition-timing);
    }
    &-to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-leave {
    transform: translateY(0);
    opacity: 1;
    &-active {
      position: absolute;
      transition: var(--transition-timing);
    }
    &-to {
      transform: translateY(var(--translate-leave-to));
      opacity: var(--opacity-from);
    }
  }
}

.scale {
  &-enter {
    transform: scale(0);
    &-active {
      transition: var(--transition-timing);
      transform-origin: var(--scale-transform-origin);
    }
    &-to {
      transform: scale(1);
    }
  }
  &-leave {
    transform: scale(1);
    &-active {
      transition: var(--transition-timing);
      transform-origin: var(--scale-transform-origin);
    }
    &-to {
      transform: scale(0);
    }
  }
}
