:root {
  --green: #52ab98;
  --red: #f76c6c;
  --green-light: #52ab98;
  --orange: #EB9532;
  --purple: #7E3661;
  --dark: #333;
  --light: #f2f2f2;
  --gray: #949494;
  --light-gray: #cccccccc;;

  --transition-timing: .5s;
  --transition-function: ease;

  --border-radius: 10%;
  --border-radius-px: 10px;
}
